*{
    margin: 0;
    padding: 0;
}

/*-----Welcome-----*/
.main{
    background-color: lightseagreen;
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

/*-----Home-----*/
.main2{
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 109vh;
}

/*---navbar---*/
.navbar{
    width: auto;
    height: 55px;
    margin: auto;
    background-color: lightseagreen;
    position: sticky;
    top: 0;
    z-index: 999;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: black;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: blue;
}

.search{
    width: 330px;
    float: right;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 30px;
    background: #fff;
    border: 1px  solid blue;
    margin-top: 13px;
    color: black;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 50px;
    height: 30px;
    background: blue;
    border: 2px solid blue;
    margin-top: 13px;
    color: #fff;
    font-size: 13px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

/*---sidebar---*/
.sidebar{
    width: 20vh;
    height: 97vh;
    margin: left;
    background-color: lightgrey;
}