*{
    margin: 0;
    padding: 0;
}

/*-----Welcome-----*/
.main{
    background-color: lightseagreen;
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.content{
    font-size: 4rem;
    text-align: center;
    position: relative;
    top: 100px;
}

.signupBtn{
    font-size: 1rem;
    background-image: linear-gradient(to top, rgb(10, 112, 112) 0%, #21d4fd 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    color: #fff;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.loginBtn{
    font-size: 1rem;
    background-image: linear-gradient(to top, rgb(10, 112, 112) 0%, #21d4fd 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    color: #fff;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.signupBtn a{
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.loginBtn a{
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.signupBtn:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(6, 109, 109);
    border-radius: 4px;
}

.signupBtn:hover:after{
    width: 100%;
}

.loginBtn:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(6, 109, 109);
    border-radius: 4px;
}

.loginBtn:hover:after{
    width: 100%;
}

/*-login-form-*/
.container{
    position: relative;
    margin-top: 100px;
    width: 450px;
    height: auto;
    background: #dedede;
    border-radius: 5px;
    font-family: sans-serif;
    margin: 0 auto;
    top: 20%;
    display: none;
}

.label{
    padding: 20px 130px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.login_form{
    padding: 20px 40px;
}

.login_form .font{
    font-size: 18px;
    margin: 5px 0;
}

.login_form input{
    height: 40px;
    width: 350px;
    padding: 0 5px;
    font-size: 18px;
    outline: none;
    border: 1px solid silver;
}

.login_form .font2{
    margin-top: 30px;
    font-size: 18px;
}

.login_form button{
    margin: 45px 0 30px 0;
    height: 45px;
    width: 365px;
    font-size: 20px;
    color: white;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    background: lightseagreen;
    border-radius: 3px;
    border: 1px solid lightseagreen;
    transition: .5s;
}

.login_form button:hover{
    background: rgb(24, 141, 135);
}

.login_form #user_error,
.login_form #pass_error{
    margin-top: 5px;
    width: 345px;
    font-size: 18px;
    color: #C62828;
    background: rgba(255,0,0,0.1);
    text-align: center;
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid #EF9A9A;
    display: none;
}

/*-sign-up-form*/
.container2{
    position: relative;
    margin-top: 100px;
    width: 450px;
    height: auto;
    background: #dedede;
    border-radius: 5px;
    font-family: sans-serif;
    margin: 0 auto;
    top: 20%;
    display: none;
}

.login_form #userCheck,
.login_form #passCheck{
    margin-top: 2px;
    width: 345px;
    text-align: left;
    padding: 5px 8px;
}

.login_form #passCheck2{
    margin-top: 2px;
    width: 345px;
    text-align: left;
    padding: 5px 8px;
    color: #C62828;
    display: none;
}

/*-----Home-----*/
.main2{
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 109vh;
}

/*-navbar-*/
.navbar{
    width: auto;
    height: 55px;
    margin: auto;
    background-color: lightseagreen;
    position: sticky;
    top: 0;
    z-index: 999;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: black;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: blue;
}

.search{
    width: 330px;
    float: right;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 30px;
    background: #fff;
    border: 1px  solid blue;
    margin-top: 13px;
    color: black;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 50px;
    height: 30px;
    background: blue;
    border: 2px solid blue;
    margin-top: 13px;
    color: #fff;
    font-size: 13px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

/*-sidebar-*/
.sidebar{
    width: 20vh;
    height: 100%;
    margin: left;
    background-color: lightgrey;
    position: fixed;
    top: 0;
}